.covid-main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.covid-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#dropdown-basic-button {
  background-color: #85754d;
  border-color: #85754d;
}
.covid-stats {
  display: flex;
  justify-content: space-between;
}

.covid-left-side {
  flex: 0.9;
}

.covid-right-side {
  display: flex;
  flex-direction: columns;
}
.covid-right-side .covid-information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.covid-chart {
  flex-grow: 1;
}

.covid-chart-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.covid-table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #4b2e83;
}

.covid-table tr {
  display: flex;
  justify-content: space-between;
}
.covid-table tr:nth-of-type(odd) {
  // background-color: #f3f2f8;
}

.covid-map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.covid-map .leaflet-container {
  height: 100%;
}

.dropdown-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  // color: black;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}

.covid-infoBox {
  flex: 1;
  cursor: pointer;
  border-color: #85754d;
}
.covid-infoBox:hover {
  background-color: #85754d;
  // opacity: 0.4;
}

.covid-infoBox:not(:last-child) {
  margin-right: 10px;
}

.covid-infoBox--selected {
  border-top: 10px solid #85754d;
}

// .covid-infoBox--red {
//   border-color: #4b2e83;
// }

.covid-cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 990px) {
  .covid-main {
    flex-direction: column;
  }
}
